.searchBar {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid #ccc;
    padding: 0.6rem 1rem;
    border-radius: 6px;
    width: 100%;
    max-width: 400px;
    margin-bottom: 1rem;
  
    input {
      border: none;
      flex: 1;
      font-size: 1rem;
      outline: none;
    }
  
    svg {
      font-size: 1.2rem;
    }
  }
  